{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>ASN Membership Identification Number</title>
    <style type="text/css">

    #outlook a {padding:0;}
        body{width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0;}
        .ExternalClass {width:100%;}
        .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;}
        #backgroundTable {margin:0; padding:0; width:100% !important; line-height: 100% !important;}
        img {outline:none; text-decoration:none; -ms-interpolation-mode: bicubic;}
        a img {border:none;}
        .image_fix {display:block;}
        p {margin: 1em 0;}
        h1, h2, h3, h4, h5, h6 {color: black !important;}

        h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {color: blue !important;}

        h1 a:active, h2 a:active,  h3 a:active, h4 a:active, h5 a:active, h6 a:active {
            color: red !important; 
         }

        h1 a:visited, h2 a:visited,  h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
            color: purple !important; 
        }

        table td {border-collapse: collapse;}

        table { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; }

        a {color: #000;}

        @media only screen and (max-device-width: 480px) {

            a[href^="tel"], a[href^="sms"] {
                        text-decoration: none;
                        color: black; /* or whatever your want */
                        pointer-events: none;
                        cursor: default;
                    }

            .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
                        text-decoration: default;
                        color: orange !important; /* or whatever your want */
                        pointer-events: auto;
                        cursor: default;
                    }
        }


        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
            a[href^="tel"], a[href^="sms"] {
                        text-decoration: none;
                        color: blue; /* or whatever your want */
                        pointer-events: none;
                        cursor: default;
                    }

            .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
                        text-decoration: default;
                        color: orange !important;
                        pointer-events: auto;
                        cursor: default;
                    }
        }

        @media only screen and (-webkit-min-device-pixel-ratio: 2) {
            /* Put your iPhone 4g styles in here */
        }

        @media only screen and (-webkit-device-pixel-ratio:.75){
            /* Put CSS for low density (ldpi) Android layouts in here */
        }
        @media only screen and (-webkit-device-pixel-ratio:1){
            /* Put CSS for medium density (mdpi) Android layouts in here */
        }
        @media only screen and (-webkit-device-pixel-ratio:1.5){
            /* Put CSS for high density (hdpi) Android layouts in here */
        }
        /* end Android targeting */
.bgBody{
  background: #ffffff;
}
.bgItem{
  background: #ffffff;
}
h2{
 color:#181818;
 font-family:Helvetica, Arial, sans-serif;
 font-size:22px;
 font-weight: normal;
}
p{
  color:#555;
  font-family:Helvetica, Arial, sans-serif;
  font-size:16px;
  line-height:160%;
}

</style>
<script type="colorScheme" class="swatch active">
  {
    "name":"Default",
    "bgBody":"ffffff",
    "link":"000000",
    "color":"555555",
    "bgItem":"ffffff",
    "title":"181818"
  }
</script>

</head>
<body>
    <!-- Wrapper/Container Table: Use a wrapper table to control the width and the background color consistently of your email. Use this approach instead of setting attributes on the body tag. -->
    <table cellpadding="0" width="100%" cellspacing="0" border="0" id="backgroundTable" class='bgBody'>
    <tr>
        <td>

        <!-- Tables are the most common way to format your email consistently. Set your table widths inside cells and in most cases reset cellpadding, cellspacing, and border to zero. Use nested tables as a way to space effectively in your message. -->
        

        <table cellpadding="0" cellspacing="0" border="0" align="center" width="600" class='bgItem'>
            <tr>
                <td class='movableContentContainer'>
                

                <div class='movableContent'>
                    <table cellpadding="0" cellspacing="0" border="0" align="left" width="600">
                        <tr height="40">
                            <td width="200">&nbsp;</td>
                            <td width="200">&nbsp;</td>
                            <td width="200">&nbsp;</td>
                        </tr>
                        <tr>
                            <td width="200" valign="top">&nbsp;</td>
                            <td width="200" valign="top" align="left">
                                <div class="contentEditableContainer contentImageEditable" >
                                    <div class="contentEditable" >
                                    <a href="http://atheist.org.ng"><img src="images/asn_logo.jpeg" width="155" height="155"  ata-default="placeholder" alt='Atheist Society of Nigeria'/></a>
                                    </div>
                                </div>
                            </td>
                            <td width="200" valign="top">&nbsp;</td>
                        </tr>
                        <tr height="25">
                            <td width="200">&nbsp;</td>
                            <td width="200">&nbsp;</td>
                            <td width="200">&nbsp;</td>
                        </tr>
                    </table>
                </div>



                <div class='movableContent'>
                    <table cellpadding="0" cellspacing="0" border="0" align="center" width="600">
                        <tr>
                            <td width="50">&nbsp;</td>
                            <td width="500" colspan="3" align="left" style="padding-bottom:10px;padding-top:25px;">
                                <div class="contentEditableContainer contentTextEditable" >
                                    <div class="contentEditable" >
                                       <h2>
                                       <small>Dear </small><strong>{{ member }}</strong> </h2>
                                       <br>
                                       <h3><small>Your membership status is fully activated.</small></h3>
                                       <h4>
                                            <small>You are now a bonafide memeber of the </small>
                                                Atheist Society of Nigeria (ASN),<small> with </small>Membership Registration ID:<strong> {{ identity_no }}. 
                                            </strong>
                                        </h4>
                                       <h4></h4>
                                    </div>
                                </div>
                            </td>
                            <td width="50">&nbsp;</td>
                        </tr>
                    </table>
                </div>


                <div class='movableContent'>
                    <table cellpadding="0" cellspacing="0" border="0" align="center" width="600">
                        <tr>
                            <td width="50">&nbsp;</td>
                            <td width="500" align="left" style="padding-bottom:15px;">
                                <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" >
                                        <p>
                                            We are pleased to inform you, that our first ever Natiotional Convention tagged <strong>"ROAD TO REASON"</strong> is coming up on the <strong>11th of November 2017.</strong> From<strong> 9:00am - 5:00pm,</strong> At the University of Lagos Conference center. Lagos State.
                                            <br>

                                            <strong>Stay upto date with the planning of the  event by<br>
                                            visiting <a href="http://atheist.org.ng/convention/programme/"><strong>atheist.org.ng/convention/programme</strong></a> channel<br>
                                            </strong>
                                            <br/>
                                            
                                            Branded T-shirts are also available for the event, so plan to get yours.<br>
                                            As a member, you have an obligation to inform others of the convention and also plan to be there.
                                            <br>

                                            Send an email to <strong> info@atheist.org.ng</strong> <br>
                                            to indicate your area of support for the success of the convention.
                                            <br />

                                            <br />
                                            <br />
                                            <strong>Thank You</strong> from all of us at 
                                            <strong><em>Atheist Society of Nigeria</em></strong>
                                            
                                        </p>
                                    </div>
                                </div>
                            </td>
                            <td width="50">&nbsp;</td>
                        </tr>
                    </table>
                </div>

                                
                <div class='movableContent'>                
                    <table cellpadding="0" cellspacing="0" border="0" align="center" width="600">
                        <tr>
                            <td width="100%" colspan="2" style="padding-top:100px;">
                                <hr style="height:1px;border:none;color:#333;background-color:#ddd;" />
                            </td>
                        </tr>
                        <tr>
                            <td width="60%" height="70" valign="middle" style="padding-bottom:20px;">
                            <div class="contentEditableContainer contentTextEditable">
                                <div class="contentEditable" >
                                    <span style="font-size:13px;color:#181818;font-family:Helvetica, Arial, sans-serif;line-height:200%;">Sent to {{ recieve_email }} by Atheist Society of Nigeria</span>
                                    <br/>
                                    <span style="font-size:11px;color:#555;font-family:Helvetica, Arial, sans-serif;line-height:200%;">#2, Ojoku Street, Olodi-Apapa, Lagos, Nigeria</span>
                                    <br/>
                                    <span style="font-size:11px;color:#555;font-family:Helvetica, Arial, sans-serif;line-height:200%;">Email: info@atheist.org.ng</span>
                                    <br>
                                    <span style="font-size:11px;color:#555;font-family:Helvetica, Arial, sans-serif;line-height:200%;">08180105733</span>
                                    <br>
                                </div>
                            </div>
                                
                            </td>
                           
                        </tr>
                    </table>
                </div>


                </td>
            </tr>
        </table>

        

        </td>
    </tr>
    </table>


</body>
</html>
